.nav{
    height: 60px;
    width: 90%;
    margin: auto;
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 10px 10px 20px rgb(190, 186, 186),-10px -10px 20px rgb(255, 241, 241);
}
.navlin{
    text-transform: capitalize;
    text-decoration: none;
    font-size: 20px;
    font-weight: 900;
    color: black;
    transition: 0.7s;
}
.navlin:hover{
    color: blue;
    
}